In [2]:
import pandas as pd
import numpy as np

In [31]:
df = pd.DataFrame({
    "Name": ["Ashish", "Chirag", "Ankit", "Neha"],
    "Age": [80, np.nan, 70, np.nan],
    "Salary": [70000, 80000, np.nan, np.nan]
})
print(df)

     Name   Age   Salary
0  Ashish  80.0  70000.0
1  Chirag   NaN  80000.0
2   Ankit  70.0      NaN
3    Neha   NaN      NaN

In [33]:
print(df.isnull().sum())

Name      0
Age       2
Salary    2
dtype: int64

In [42]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [49]:
print(df)

     Name   Age   Salary
0   Ashik  80.0  10000.0
1   Nehil  55.0   5000.0
2  thirag  30.0   7500.0
3   Ankit  55.0   7500.0

In [47]:
df["Salary"] = df["Salary"].fillna(df["Salary"].median())

In [50]:
print(df)

     Name   Age   Salary
0   Ashik  80.0  10000.0
1   Nehil  55.0   5000.0
2  thirag  30.0   7500.0
3   Ankit  55.0   7500.0