In [ ]:
Find the duplicate words in a string
y = "Sky is blue, and i have wear a blue dress"

In [2]:
y = "Sky is blue, and i have wear a blue dress"
words = y.lower().replace(",", "").split()
print(set([w for w in words if words.count(w) > 1]))

{'blue'}

In [ ]:
Find the testcase name with number in then
X=["TC01_abort","login","Homepage_02","Verify_login"]

In [3]:
X = ["TC01_abort", "login", "Homepage_02", "Verify_login"]
result = [x for x in X if any(ch.isdigit() for ch in x)]
print(result)

['TC01_abort', 'Homepage_02']

In [ ]:
x="Machinelearning"
Give the count of each character

In [4]:
x = "Machinelearning"
print({ch: x.count(ch) for ch in x})

{'M': 1, 'a': 2, 'c': 1, 'h': 1, 'i': 2, 'n': 3, 'e': 2, 'l': 1, 'r': 1, 'g': 1}

In [ ]:
Dictionary
key-> Student names
values -> Marks

*Add a New Student
*Update Marks of Existiny Student
*Delete 1 entry

In [ ]:
Sort the dictionary According  to length of student names return it in a list

In [ ]:
Create dataframe using dictionary ,drop last_column,return first 5 rows.